<div style="width: 280px">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">CEA</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngFor="let item of navItems">
      <a [routerLink]="[item.route]" routerLinkActive="active" class="nav-link text-white" aria-current="page">
        {{ item.title }}
      </a>
    </li>

    <!-- <li
      
      class="nav-item"
      [routerLink]="[item.route]"
      routerLinkActive="active"
    >
      {{ item.title }}
    </li> -->

    <!-- <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Inicio
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Usuarios
      </a>
    </li> -->
  </ul>
</div>
