:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) ;
}
.mat-mdc-card {
  gap: 2rem;
}
.mat-mdc-card-header {
  place-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 100%;
}