:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form {
 display: flex;
 flex-direction: column;
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.form-field {
  padding: 1rem 1rem;
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  align-items: center;
}