<mat-card *ngIf="userCreated" appearance="outlined" class="mat-card">
  <mat-card-content class="mat-card-content">
    <p>Usuario creado exitosamente</p>
    <button mat-raised-button routerLink="/users" color="primary">Volver</button>
  </mat-card-content>
</mat-card>

<form [formGroup]="newUserForm" (ngSubmit)="onSaveUser()">
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Nombre"
      type="text"
      formControlName="first_name"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Apellido"
      type="text"
      formControlName="last_name"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Email" type="text" formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Contraseña"
      type="text"
      formControlName="password"
    />
  </mat-form-field>

  <div class="buttons">
    <button type="reset" mat-stroked-button>Cancelar</button>
    <button type="submit" mat-raised-button [disabled]="newUserForm.invalid" color="primary">Guardar</button>
  </div>
</form>
