<form [formGroup]="userForm" (ngSubmit)="onSaveUser()">
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Nombre"
      type="text"
      formControlName="firstName"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Apellido"
      type="text"
      formControlName="lastName"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Email" type="text" formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Contraseña"
      type="text"
      formControlName="password"
    />
  </mat-form-field>

  <div class="buttons">
    <button type="button" mat-stroked-button routerLink="/users" >Cancelar</button>
    <button type="submit" mat-raised-button [disabled]="userForm.invalid" color="primary">Guardar</button>
  </div>
</form>
